@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Pacifico", cursive;
  color: gray;
}

#mainBody {
  text-align: center;
  justify-items: center;
  padding: 0 15%;
  margin-top: 20px;
}

#intro {
}

#areas {
  padding: 5%;
}

#whoWeAre {
  margin: 5%;
}

#services {
}

#testimonials {
  padding: 10% 10%;
  margin: 10% 10%;
}

#footer {
  text-align: center;
  justify-items: center;
  padding: 10% 15%;
  background-color: #fce2db;
}

h1 {
  line-height: 4rem;
  font-size: 3rem;
  padding: 5%;
  color: #000;
}

h2 {
  line-height: 4rem;
  font-size: 3rem;
  padding: 5%;
  color: #231955;
}

.introButtom {
  margin-top: 5rem;
}

.introText {
  padding: 5%;
}

.listOfPlace {
  list-style-type: none;
}

.card {
  padding: 5%;
}

.imgCarusel {
  border-radius: 90% 0 90% 0;
}

#services2 {
  margin-top: 5%;
}